
.letterBlack {
	color: $letra-negra;
}

.letterWhite{
	color: $letra-blanca;
}

.bgGreen {
	background-color: $fondo-verde;
}

.bgBlack {
	background-color: $fondo-negro;
}

.bgWhite {
	background-color: $fondo-blanco;
}

.bgYellow {
	background-color: $fondo-amarillo;
}

.bgGrey {
	background-color: $fondo-gris;
}