$fontSizes: (
    "extra-light": 200,
    "light":300,
    "regular": 400,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800,
    "black": 900
);

$fondo-verde: rgba(182,198,44,255);
$fondo-amarillo: rgba(253,237,0,255);
$fondo-gris:#9e9e9e33;
$fondo-negro:black;
$fondo-blanco:white;
$fondo-menu:#00000070;

$letra-blanca:white;
$letra-negra:black;

$ancho-100:100%;
$ancho-50:50%;

$profundidad-100:100;

$reset:0;

$centro:center;
$izquierda:left;
$derecha:right;

$flexible:flex;
$fijo: fixed;
$columna: column;
$fila: row;


